    body {
        font-family: 'Nunito', sans-serif;
    }

     :root {
        --color-naranja: #ed6436;
    }

    li {
        font-size: 24px;
    }

    .contenedor-principal .activities {
        justify-content: space-around;
    }

    .contenedor-principal .activities img {
        border-radius: 20px;
    }

    .cabecera {
        padding-top: 22px;
        padding-bottom: 22px;
        box-shadow: 0px 4px 15px 2px rgb(0 0 0 / 10%);
    }

    nav .links .link,
    nav .links .link .dropdown-list li {
        font-size: 18px;
    }

    nav .links .link {
        padding-right: 45px;
    }

    nav .links>.link.active,
    nav .links>.link.active .dropdown .dropdown-list li.active {
        color: var(--color-naranja);
    }

    nav .links>.link.active::after {
        content: '';
        position: absolute;
        top: 50px;
        left: 0;
        width: 100px;
        height: 4px;
        background-color: var(--color-naranja);
    }

    nav .links .link .icono {
        padding-left: 5px;
    }

    nav .links .link .dropdown {
        position: absolute;
        top: 68px;
        left: -27px;
        min-width: 302px;
        padding: 22px 25px;
        background-color: #fff;
        z-index: 1;
        color: #000;
    }

    nav .links .link .dropdown .dropdown-list li {
        border-bottom: 1px solid#d3d3d3;
    }

    nav .links .link .dropdown .dropdown-list li+li {
        padding-top: 22px;
    }

    .btn-page {
        border: 3px solid var(--color-naranja);
        border-radius: 0 20px 20px 20px;
    }

    .activities {
        padding-top: 54px;
        padding-bottom: 54px;
    }

    .activities .activity+.activity {
        padding-top: 32px;
    }

    .activities .activity .img-activity {
        filter: brightness(0.8);
    }

    .activities .activity .title,
    .activities .activity .name {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-weight: bold;
        z-index: 2;
    }

    .activities .activity .title {
        font-size: 10px;
        bottom: 34px;
        text-transform: uppercase;
    }

    .activities .activity .name {
        bottom: 0%;
        font-size: 18px;
    }

    .cabecera-main {
        padding-top: 33px;
    }

    .cabecera-main .title-page {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: var(--color-naranja);
    }

    .cabecera-main .closer {
        padding-top: 15px;
        font-size: 39px;
        font-weight: 600;
    }

    .cabecera-main .container-viewall {
        padding-top: 48px;
    }

    .cabecera-main .btn-viewall {
        width: 136px;
        height: 54px;
        font-size: 12px;
        border: 3px solid var(--color-naranja);
        background-color: #fff;
        color: #000;
    }

    @media (min-width: 992px) {
        .contenedor-principal .activities {
            justify-content: initial;
        }
        .activities {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .activities .activity+.activity {
            padding-top: 0;
        }
        .activities .activity .img-activity {
            filter: brightness(1);
            transition: filter 0.5s;
        }
        .activities .activity:hover .img-activity {
            filter: brightness(0.8);
        }
        .activities .activity .title,
        .activities .activity .name {
            opacity: 0;
            transition: opacity 0.5s;
        }
        .activities .activity .title {
            font-size: 17px;
            bottom: 50%;
        }
        .activities .activity .name {
            font-size: 24px;
            bottom: 26%;
        }
        .activities .activity:hover .title,
        .activities .activity:hover .name {
            opacity: 1;
        }
        .cabecera-main {
            padding-top: 146px;
        }
        .cabecera-main .title-page {
            font-size: 21px;
        }
        .cabecera-main .closer {
            padding-top: 0;
            font-size: 62px;
        }
        .cabecera-main .container-viewall {
            padding-top: 0;
        }
        .cabecera-main .btn-viewall {
            width: 185px;
            height: 66px;
            color: white;
            font-size: 17px;
            background-color: var(--color-naranja);
        }
        .cabecera-main .btn-viewall:hover {
            border: 3px solid var(--color-naranja);
            background-color: #fff;
            color: #000;
        }
        .btn-buynow:hover {
            background-color: var(--color-naranja);
            color: #fff;
        }
    }
